
.App{
  text-align: center;
  padding: 20px;
}
form{
  margin-bottom: 20px;
}
button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
li button {
  background-color: #dc3545;
}
li button:hover{
  background-color: #c82333;
}
